.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.7) ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.carousel {
    position: relative;
    width: 500px;
    height: 450px;
}
.image_wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.image_container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.animate {
    transition: transform 0.3s ease-in-out;
}
.image {
    flex: 0 0 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: -25px;
    right: 0px;
    cursor: pointer;
}
.left_btn {
    position: absolute;
    bottom: 48%;
    left: -25px;
    cursor: pointer;
}
.right_btn {
    position: absolute;
    bottom: 48%;
    right: -25px;
    cursor: pointer;
}